<!DOCTYPE html>
<html>
<head>
  <title>In Loco Media</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<nav id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">

      <a class="navbar-brand" href="/home">
        <%= image_tag "inloco.png" %>
      </a>

    </div>

  </div>

</nav>

<div class="container">

  <div class="row row-centered">
    <div class="col-sm-6 col-md-4 col-lg-4 col-centered">

        <%= yield %>

      </div>
    </div>

</div>

</body>
</html>
